<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>藏心阁 | 程序猿刘川枫</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/x-icon" href="http://images.liujian.cool/img/liuchuanfeng.jpg">
    <link href="https://lib.baomitu.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet">
    <link href="https://lib.baomitu.com/font-awesome/5.8.0/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/myheart.css">

    <script src="https://lib.baomitu.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="all">
    <canvas class="rain" style="position: fixed"></canvas>
    <div class="header">
        <h1 class="vintage4">刘川枫啊</h1>
    </div>
    <div class="main">
        <div class="heart">
            <div class='topLeft'></div>
            <div class='topRight'></div>
            <div class='bottom'></div>
        </div>
        <div class="chooseBtn">
            <button type="button" class="yesterday am-btn am-btn-danger am-btn-xl">
                <i class="am-icon-mercury" style="margin-right: 5px"></i>
                往昔
            </button>
            <button type="button" class="today am-btn am-btn-warning am-btn-xl">
                <i class="am-icon-venus" style="margin-right: 5px"></i>
                今日
            </button>
        </div>
    </div>
</div>

<script src="js/rain.js"></script>
<script src="js/myheart.js"></script>
</body>
</html>